.messageViewed{
    position: absolute;
    bottom: 3px;
    right: -23px;
    font-size: 15px;
}
.messageNotViewed{
    position: absolute;
    bottom: 7px;
    right: -23px;
    font-size: 15px;
    opacity: 0.8;
    transform: rotate(180deg);
}
.myMessage{
    margin-bottom:20px;
    color: #212121;
}
.myPhoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.messageHelper{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 600px;
    gap: 20px;
}
.userMassage{
    margin-bottom:20px;
    color: #212121;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
}
.userPhoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
