.photo{
    width: 160px;
    height: 160px;
}
.user{
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}
.instructation{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px red solid;
    max-width: 400px;
    height: 100%;
}
.instructationTitle{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.userInfo{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.activeNum{
    font-weight:bold;
    margin-right: 5px;
    font-size: 20px;
}
.noactiveNum{
    margin-right: 5px;
    font-size: 17px;
}
.AllUserInfo{
    display: grid;
    grid-template-columns: 2fr 0.3fr;
    align-items: center;
}
.numsContainer{
    max-width: 230px;
    overflow: hidden;
    margin-bottom: 30px;
}
.AllUserInfoItem{
    width: 140px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.loaderSpin{
    width:200px;
    height:200px;
    border-radius:50%;
    border: 10px green solid;
    border-right: 10px transparent solid;
    animation: cyrcle 2s ease-in-out 0s infinite forwards;
}
.error{
    padding: 20px 30px;
    background-color: red;
}
.findUsers{
    max-width: 250px;
    min-width: 120px;
    width: 100%;
    margin-bottom: 5px;
}
@keyframes cyrcle {
    0%{
        border-right: 10px transparent solid;
        transform:rotate(0deg);
    }
    50%{
        border-right: 10px red solid;
    }
    100%{
        border-right: 10px transparent solid;
        transform:rotate(360deg);
    }
}