.header{
  background-color: #262626;
  color: white;
  padding: 10px 0;
  margin-bottom: 15px;
  &__container{
    max-width: 1100px;
    margin: 0 auto;
  }
  .header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__logo img{
    width: 75px;
    height: 75px;
    cursor: pointer;
    border-radius:50%;
  }
  .header__li{
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  .login{
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  .loginLink{
    font-size: 16px;
    font-weight: 500;
    color: rgb(196, 220, 254);
  }
  .unlogin{
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: 1px black solid;
    padding: 5px 10px;
    border-radius: 5px;
  }
}